/* Box shadows from: https://getcssscan.com/css-box-shadow-examples */

.tab2HeaderContainer{
    width: 100vw;
    /* border: solid black 3px; */
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}


.tab2Header {
    background-color: #D9D9D9;
    float: left;
    font-size: 2em;
    /* margin-top: 3rem; */
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 80vw;
    border: solid black 1px;
}

.tab2Header .cardHeader {
    width: 40vw;
    text-align: center;
    font-weight: 500;
    border-right: solid black 1px;

}

.tab2Header .ingredientsHeader {
    width: 40vw;
    text-align: center;
    font-weight: 500;

}

.tab2BodyContainer{
    width: 100vw;
    /* border: solid black 3px; */
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    /* background-color: pink; */
    padding: 1rem;

    /* remove this later  */
    /* height: 20rem; */
}

.tab2BodyContainer .card-ingredients-container{
    width: 80vw;
    /* border: solid 3px red; */
    /* display: flex; */
    /* justify-content: center; */
    /* margin-top: 1rem; */
    /* padding: 0.5rem; */

    float: left;

    /* remove this later  */
   
}

/* .card-ingredients-container .rowContainer{
    width: 80vw;
    height: 304px;
} */

.card-ingredients-container .ingredientsColumn{
    width: 80vw;
    height: 19rem;
    
}

.card {
    border: none;
}

.card-ingredients-container .cardContainer{
    width: 40vw;
    border: none;
    /* border: solid 3px orange; */
    padding: 1rem;
    display: flex;
    justify-content: center;

    margin-top: 1rem;
}

.card-ingredients-container .ingredientsColumn {
    width: 40vw;
    position: relative;
    top: 0;
    vertical-align: top;
    
    /* height: 250px; */
    /* background-color: aqua; */
}

.card-ingredients-container .ingredientsColumnContainer{
    width: 40vw;
    /* border: solid 3px green; */
    margin-top: 1rem;
    height: 19rem;
    white-space:pre-line;
    /* border: solid 1px black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* margin-top: 1rem; */
    
}

.ingredientsColumnContainer .ingredientsBox{
    width: 40vw;
    background-color: #D9D9D9;
    height: 14rem;
    padding: 1rem;
    margin-top: 0;
    /* margin-right: 10px; */
}

.ingredientsList .listItem {
    font-weight:bolder
}

.ingredientColSecondRow {
    display: flex;
    justify-content: flex-start;
}

.ingredientColSecondRow .servingsLabel{
    font-weight: bold;
    padding: 0.25rem;
}

.ingredientColSecondRow .servingsInput{
    width: 4rem;
    margin-right: 1rem;
    margin-top: 1.25rem;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: solid black 1px;
}

.ingredientColSecondRow .servingsUpdateButton{
    width: 5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border: none;
    padding: 0.5rem;

    text-align: center;
    color: white;
    font-weight: 600;
    background-color: #E47E20; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;

    height: 2.5rem;
}

.ingredientColSecondRow .servingsUpdateButton:hover{
    background-image: linear-gradient(to left, #E47E20, #f39740); /* Reverse the gradient direction on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover */
    transform: translateY(-0.3px); /* Add a subtle lift effect on hover */

}

.ingredientColSecondRow .deleteButton{
    width: 5rem;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border: none;

    text-align: center;
    color: white;
    font-weight: 600;
    background-color: #E47E20; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;

    height: 2.5rem;
}

.ingredientColSecondRow .deleteButton:hover{
    background-image: linear-gradient(to left, #E47E20, #f39740); /* Reverse the gradient direction on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover */
    transform: translateY(-0.3px); /* Add a subtle lift effect on hover */

}

.clearButtonContainer #clearButton{
    width: 80vw;
    text-align: center;
    color: white;
    font-weight: 600;
    background-color: #E47E20; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    height: 2rem;
}

.clearButtonContainer #clearButton:hover {
    background-image: linear-gradient(to left, #E47E20, #f39740); /* Reverse the gradient direction on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover */
    transform: translateY(-1px); /* Add a subtle lift effect on hover */

}





