.home-search-wrapper{
    position:relative;
}

.home-search-bg{
    background-image: url('https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:100%;
    height:30vw;
    min-height: 500px;
    min-width: 750px;
    background-repeat:no-repeat;
    filter:blur(1px) brightness(0.75);
    margin-bottom:50px;
}

.home-search-title{
    text-align: center; 
    padding:50px; 
    position:absolute; 
    top:25%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    color:white; 
    font-size:4.5rem;
    width:100%; 
    font-weight: 600
}

.home-search-bar-wrapper{
    display:flex; 
    position:absolute; 
    top:50%; left:50%; 
    transform:translate(-50%, -50%); 
    font-size:2rem;
    height:3.5rem;
}

.home-search-bar{
    width:50vw; 
}
.home-search-submit{
    width:10vw;
    min-width:120px;
    color:white; 
    background-color:#04B4B4; 
    border-radius:5px; 
    border: 0px
}

.home-search-filters-wrapper{
    display:flex; 
    position:absolute; 
    top:80%; 
    left:50%; 
    transform:translate(-50%, -50%);
}

.dropdown-wrapper{
    margin-left:1.5em; 
    margin-right:1.5em; 
    width:15vw; 
    font-size:1vw; 
    border:0px;
}