@media (min-width: 768px) and (max-width: 991.98px) { /* Between sm and md */
  .custom-col {
    flex-basis: calc(100% - 8px);
  }
}

@media (min-width: 1200px) and (max-width: 1248px) { /* Between xl and 1248px */
  .custom-col {
    flex-basis: calc(33.33% - 8px);
  }
}


@media (min-width: 992px) and (max-width: 1299.98px) { /* Between md and lg */
  .custom-col {
    flex-basis: calc(100% - 8px);
  }
}
