.ing {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: relative; /* add position relative */
}

.ing li {
  margin-bottom: 0.5rem;
}

.ing button {
  position: absolute;
  right: 0;
  border-radius: 2px;
  cursor: pointer;
  transform: translateX(-50%);
  border: none;
  background-color: #E47E20;
  color: white;
}

.ing button:hover {
  background-color: #7B0D1E;
}

