/*Reference for dropdown styling: https://www.youtube.com/watch?v=HE8jtK4FSZY&list=LL&index=1&t=1721s*/

.submenu {
    width: 10rem;
    position: absolute;
    list-style: none;
    text-align: start;
    top: 80px;
    z-index: 2;
}

.submenu li {
    background-color:  white;
    cursor: pointer;
    /* text-align: center; */
}

.submenu-clicked {
    display: none;
}

.submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 0.75rem;
}

.submenu-item:hover {
    background-color: #dfd7d7;
}
