/* Reference for navbar styling https://www.youtube.com/watch?v=P3W7MZ3JkyA*/ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EFEEEE
}


#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    background-color: #FFFEFE;
    color: white;
}

#logo{
    font-size: 2rem;
    color: #E47E20;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;    
    white-space: nowrap;
}

.nav-item{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    color: white;
    background-color: #E47E20;
    border-radius: 5px;

}

.nav-links .nav-item:hover{
    background-color: #c66c17;

}


#dropdownButton{
    border: none;
    background-color: #E47E20;
    color: white;
    font-size: 1.5rem;
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

#dropdownButton:hover{
    background-color: #c66c17;

}

.dropdown{
    background-color: #E47E20;
    border: none;
}

#accountLogo{
    padding-top: 3px;
}


/* hide hamburger so it is not shown on larger screens */
#mobile-menu-icon{
    display: none;
}

/* css for smaller screens */

@media screen and (max-width: 960px){
    #logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }

    /* remove nav linkes on smaller screens */
    .nav-links{
        display: none;
    }

    .nav-links-mobile {
        width: 100%;
        position: absolute;
        display: block;
        list-style: none;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        
    }

    .nav-links-mobile .nav-item{
        color: white;
        text-align: center;
        padding: 32px; 
        margin-left: 0;
        width: 100%;
        transition: all 0.5s ease-out;
        display: block;
        background-color: #E47E20;
        border-radius: 0;
    
    }

    .nav-links-mobile .nav-item:hover{
        background-color: #c66c17;
    
    }

    #dropdownButton{
        display: none;

    }



    #mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 35px;
        color: white;
        background-color: #E47E20;
        border: none;
        outline: none;
        top: 15px; 
        right: 25px;
        border-radius: 5px;

    }

    #mobile-menu-icon:hover{
        background-color: #c66c17;
    
    }

    .collapseButton{
        padding-top: 7px;
    }

    
}
